/*STYLE.CSS FOR STLING MY WEBSITE BY BOOTSTRAP4*/
html,
body {
    height: 100%;
}
/*FOR MY COVER STYLING*/
#cover {
    background: #222 url('img/covvvv.jpeg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
/*FOR 100% COVER CAPTION*/
#cover-caption {
    width: 100%;
}
/*for the background color of navv bar*/
.navv{
	background-color: red;
}
section-content {
    padding: 5rem 0;
}
/*STYLING FOR MY FOOTER*/

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
